.offers-container{
    position: absolute;
    width: 100vw;
    height: 790px;
    left: 0px;
    top: 1857px;
}

.we-offer{
    position: absolute;
    left: 50.42%;
    top: 27.7%;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #000500;
}

.offers-animation{
    position: absolute;
    width: 575px;
    height: 65px;
    right:183px;
    top: 230px;
    text-align: left;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80%;
    text-align: center;

    background: linear-gradient(119.32deg, #F6BA13 58.14%, #DD7F4A 141.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.also{
    position: absolute;
    width: 80px;
    height: 25px;
    left: 50.42%;
    top: 320px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #000500;

}

.advantages{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    height: 130px;
    left:49.6%;
    bottom: 35.8%;
    justify-content: space-between;
    align-items: center;
}

.offer_level,
.offer_teacher,
.offer_recommendations,
.offer_studying {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 10px);
    height: 50px;
    margin-bottom: 10px;
}

.offer_level h3,
.offer_teacher h3,
.offer_recommendations h3,
.offer_studying h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-left: 70px;
    text-align: left;
}

#color-circle {
    position: absolute;
    width: 530px;
    height: 530px;
    left: 8.5%;
    top: 15.6%;
    border-radius: 50%;
    background-color: #F6BA13;
}

#offers-slider{
color: #F6BA13;
}

#offer-image{
    position: absolute;
    width: 529px;
    left: 0px;
    top: 2px;
}

.proposals-butt{
    left: 49.7%;
    bottom: 27.5%;
}

.our-team-butt{
    right: 17.4%;
    bottom: 27.5%;
}

.left-right-butt{
    width: 60px;
    height: 60px;
    border: none;
    background: none;

}

.slider-buttons{
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 19.6%;
    position: absolute;
    top: 660px;
}

